.chip {
    display: inline-flex;
    align-items: center;
    padding: 0.3em 0.4em;
    margin: 0.2em;
    background-color: #e9ecef;
    color: #212529;
    border-radius: 1.25rem;
    font-size: 15px;
}

.chip .btn-close {
    margin-left: 0.5em;
    font-size: 0.75em;
}

.chip-input-container input:focus {
    box-shadow: none;
    outline: none;
}