# Auto detect text files and perform LF normalization
* text=auto

# Declare text files
*.html text
*.ts text
*.js text
*.json text
*.scss text
*.css text
*.md text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
