<div>
  <section class="background_banner col-12">
    <div class="d-flex align-items-center container" style="height: 428px">
      <div class="row">
        <div class="col-12">
          <h4 class="main_section_heading">Our App</h4>
        </div>
        <div class="col-12">
          <div class="d-flex flex-row align-items-center">
            <span class="orange_dot"></span>
            <span class="ms-2">App</span>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="our_app px-3">
      <div class="container">

        <div class="row d-flex align-items-center">
          <div class="col-6 p-5" style="margin: 5rem 0">
            <div class="row contactUs_circle_background">
              <div class="col-1" style="margin-top: auto">
                <img src="app/assets/etutor/our_app/green_circle.png" alt="Green Circle">
              </div>
              <div class="col-10 text-center">
                <img src="app/assets/etutor/our_app/app_image.png" alt="App Image">
              </div>
              <div class="col-1">
                <img src="app/assets/etutor/our_app/blue_circle.png" alt="Blue Circle">
              </div>
            </div>
          </div>
          <div class="col-6" style="padding: 3rem 6rem">
            <h1>It's all coming together</h1>
            <span class="our_app_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
            <div class="mt-40">
              <h4>Available On</h4>
              <div>
                <img class="w-45" src="app/assets/etutor/our_app/play_store.png" alt="Play Store">
                <img style="height: 63px; margin-left: 1.25rem" class="w-45 ms-3" src="app/assets/etutor/our_app/app_store.png" alt="App Store">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>
