.our_app {
  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
  }

  .our_app_content {
    color: #666666;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 15px;
  }
  h4 {
    font-weight: 500;
    font-size: 30px;
    color: #303030;
  }
}
