<div class="container-fluid rounded-border p-4 mb-3 bg-white mt-2">
    <h3>Privacy policy</h3>
    <P>Privacy policy It Is a long established fact that a reader will be distracted by the readable content of a page
        when looking at Its layout. The point of using torem Ipsum is that It has a more-or-less normal distribution of
        letters. os opposed to using 'Content here, content here'. nicking It look like readable English. Many desktop
        publishing packages and web page editors now use tOrem ipsum os their default model text and a search for 'Orem
        ipsurri will uncover many web sites still In their infancy. It Is a long established fact that o reader will be
        distracted by the readable content of a page when looking at Its layout. The point of using tOrern Ipsum is that
        It has a MOre-Or-less normal distribution of letters. as opposed to using 'Content here, content here'. nicking
        It look like readable English. Many desktop publishing packages and web page editors now use tOrem ipsum as
        their default model text and o search for 'Orem ipsurn" will uncover many web sites still In their infancy.</P>

    <h4>Terms & Conditions</h4>
    <p> Terms & Conditions It is o long established fact that a render will be distracted by the readable content of a
        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters, as opposed to using 'Content here, content here, making it look like readable English.
        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
        search for 'Iorem ipsum' will uncover many web sites still in their infancy. It is a long established fact that
        a render will be distracted by the readable content of a page when looking at its layout. The point of using
        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here, making it look like readable English. Many desktop publishing packages and web page editors now
        use Lorem Ipsum as their default model text and a search for 'Iorem iosum' will uncover many web sites still in
        their infancy.</p>



</div>