<!-- Hero Section -->
<section class="background_banner col-12">
  <div class="d-flex align-items-center container" style="height: 428px">
    <div class="row">
      <div class="col-12">
        <h4 class="main_section_heading">About Us</h4>
      </div>
      <div class="col-12">
        <div class="d-flex flex-row align-items-center">
          <span class="orange_dot"></span>
          <span class="ms-2">Story</span>
          <span class="orange_dot ms-3"></span>
          <span class="ms-2">Tutor</span>
          <span class="orange_dot ms-3"></span>
          <span class="ms-2">Values</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Learn Section -->
<section class="learn-section">
  <div class="container learn-section_background_image">
    <h2 class="color-primary">Learn that Work</h2>
    <p>"E tution" is an innovative online platform dedicated to self-discovery and personal growth. Through a curated collection of articles, quizzes, and interactive exercises, users embark on a journey of self-exploration, gaining insights into their strengths, weaknesses, passions, and purpose.</p>
    <img class="mx-m-t-90 img-fluid" src="app/assets/etutor/about_us/student_group.svg" alt="Learning Image">
    <div class="row count">
      <div class="col-md-4 p-4 stat">
        <div class="background_white">
          <h1>1400+</h1>
          <h5>Courses</h5>
        </div>
      </div>
      <div class="col-md-4 py-4 px-0 stat">
        <div class="background_white">
          <h1>987</h1>
          <h5>Tutors</h5>
        </div>
      </div>
      <div class="col-md-4 p-4 stat">
        <div class="background_white">
          <h1>2000+</h1>
          <h5>Students</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Stats Section -->
<section class="stats-section">
  <div class="best_way_section_background_image ms-4">
    <div class="container">
      <div class="row">
        <div class="col-5 px-5">
          <div class="person1_image">
            <img class="image_1" src="app/assets/etutor/about_us/left_side_image.svg" alt="Person 1">
            <div class="bordered"></div>
          </div>
        </div>
        <div class="col-7 text-start">
          <div class="col-7">
            <h1>Best way of find your tutor !</h1>
            <span class="about_content">From personality assessments to career guidance tools, our comprehensive resources empower individuals to understand</span>
            <div class="col-12 mt-30">
              <p class="d-flex align-items-center"><img src="app/assets/etutor/about_us/dotted&full_circle.svg" alt="Circle"><span class="ms-2">Choose your tutor</span></p>
              <p><img src="app/assets/etutor/about_us/dotted&full_circle.svg" alt="Circle"><span class="ms-2">Set your goals</span></p>
              <p><img src="app/assets/etutor/about_us/dotted&full_circle.svg" alt="Circle"><span class="ms-2">Book your lesson</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how-to-work-section">
    <div class="container">
        <h2 class="mb-0">How to work</h2>
      <img class="curved_border" alt="Curved Image" src="app/assets/etutor/about_us/curved_underline.svg">
        <div class="row">
            <div class="col-md-4 col-4 m-auto px-5">
              <div class="row">
                <div class="col-12 space_between">
                  <h5>Flexibility</h5>
                  <!--                <p>Learn at your own pace, at your own time.</p>-->
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
                <div class="col-12">
                  <h5>Accessible</h5>
                  <!--                <p>Access courses and resources from anywhere.</p>-->
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
              </div>
            </div>
          <div class="col-md-4 col-4 d-flex justify-content-center">
            <div class="person2_image">
              <img class="image_1" src="app/assets/etutor/about_us/student_image.svg" alt="Purple Curved Border">
            </div>
          </div>
            <div class="col-md-4 col-4 m-auto px-5">
              <div class="row">
                <div class="col-12 space_between">
                  <h5>Learning Growth</h5>
                  <!--                <p>Track your progress and achieve your goals.</p>-->
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
                <div class="col-12">
                  <h5>Foucs on studies</h5>
                  <!--                <p>Access courses and resources from anywhere.</p>-->
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
