.contacus_content {
  padding: 3rem 5rem;
  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .contact_us_content {
    color: #666666;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .img_style {
    padding: 12px;
    background: #f0f8ff;
    border-radius: 50%;
    width: 12%;
  }
}

.contact_details {
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
