<div>
    <section class="background_banner col-12">
        <div class="d-flex align-items-center container" style="height: 428px">
          <div class="row">
            <div class="col-12">
              <h4 class="main_section_heading">Contact</h4>
            </div>
            <div class="col-12">
              <div class="d-flex flex-row align-items-center">
                <span class="orange_dot"></span>
                <span class="ms-2">Contact</span>
                <span class="orange_dot ms-3"></span>
                <span class="ms-2">Blogs</span>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="px-3">
      <div class="container">
        <div class="row" style="padding: 3rem 3rem 9rem 3rem">
          <div class="row p-5 contactUs_background_image d-flex align-items-center">
            <div class="col-6 my-5 contactUs_border">
              <form [formGroup]="contactUsForm">
                <div class="row">
                  <div class="col-12 form-group">
                    <label class="ms-2">Name</label>
                    <input class="form-control" type="text" placeholder="Enter Your Name" required>
                  </div>
                  <div class="col-12 form-group mt-4">
                    <label class="ms-2">Mail ID</label>
                    <input class="form-control" type="email" placeholder="Enter Your Mail ID" required>
                  </div>
                  <div class="col-12 form-group my-4">
                    <label class="ms-2">Your Message</label>
                    <textarea style="resize: none" rows="6" class="form-control" required></textarea>
                  </div>
                  <div class="col-12 text-center">
                    <button class="btn btn-orange col-6">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-6 contacus_content">
              <h1><span style="border-bottom: 4px solid black">Get</span> into <span class="highlight">Touch</span></h1>
              <span class="contact_us_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
              <div class="mt-30 row">
                <div class="col-12">
                  <img class="img_style" src="app/assets/etutor/contact_us/call_icon.png" alt="Call">
                  <span class="ms-3 contact_details">+82 31290 234</span>
                </div>
                <div class="col-12 mt-30">
                  <img class="img_style" src="app/assets/etutor/contact_us/message_icon.png" alt="Call">
                  <span class="ms-3 contact_details">etutionlearning&#64;gmail.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>
