<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12 rounded-border table-container">
            <h5>Today's Classes</h5>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <button class="btn btn-link p-0">&laquo;</button>
                    <span>02 - 08 March</span>
                    <button class="btn btn-link p-0">&raquo;</button>
                </div>
                <div>(GMT +06:00) Public Time</div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Mon 02</th>
                        <th>Tues 03</th>
                        <th>Wed 04</th>
                        <th>Thu 05</th>
                        <th>Fri 06</th>
                        <th>Sat 07</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td class="available">
                            <div>Available</div>
                            <div>Join</div>
                            <small>Mon - Thu 10:00 am</small>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="cancel">
                            <div>Cancel</div>
                            <small>Mon - Thu 10:00 am</small>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>