<!-- Footer Section -->
<footer class="footer">

  <div class="row d-flex justify-content-between">
    <div class="col-md-2">
      <h5>About</h5>
      <ul>
        <li><a href="#">Who are we?</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Online Classes</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>All subjects</h5>
      <ul>
        <li><a href="#">Art & Hobbies</a></li>
        <li><a href="#">Professional development</a></li>
        <li><a href="#">Computer Sciences</a></li>
        <li><a href="#">Language</a></li>
        <li><a href="#">Music</a></li>
      </ul>
    </div>
    <div class="col-md-1">
      <h5>Help</h5>
      <ul>
        <li><a href="#">Need Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>Join the adventure</h5>
      <ul>
        <li><a href="#">Blog?</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>Get the App</h5>
      <div class="app-links row">
        <a class="col-12" href="#"><img src="app/assets/etutor/our_app/app_store.png" alt="App Store"></a>
        <a class="col-12 mt-3" href="#"><img src="app/assets/etutor/our_app/play_store.png" alt="Google Play"></a>
      </div>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-md-6">
      <span class="follow_us">Follow Us</span>
      <div class="social-icons">
        <a href="#"><img src="app/assets/etutor/youtube.png" alt="YouTube"></a>
        <a href="#"><img src="app/assets/etutor/facebook.png" alt="FaceBook"></a>
        <a href="#"><img src="app/assets/etutor/twitter.png" alt="Twitter"></a>
        <a href="#"><img src="app/assets/etutor/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="app/assets/etutor/linkedin.png" alt="Linkedin"></a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-end">
        <div class="rbt-search-style search-bar">
          <input type="text" placeholder="Enter your Email">
          <button class="rbt-search-btn border-0 image_end">
            <img src="app/assets/etutor/arrow.png" alt="Arrow">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-md-12 d-flex justify-content-between">
      <span class="mb-0 d-flex align-items-center"><strong style="font-size: 24px" class="me-3">E - Tuition</strong> e -
        tuition All rights reserved.</span>
      <span style="color: #666666" class="mb-0">&copy; 2024 E - tuition, learn with the best!</span>
    </div>
  </div>
</footer>