input[type="radio"] {
    background-color: #FB8333 !important;
    border-color: #FB8333 !important;
}


input[type="radio"] {
    /* Adjust color and border properties as needed */
    background-color: orange !important; /* Background color for unchecked state */
    border: 2px solid orange !important; /* Border for unchecked state */
  }

  input[type="radio"]:checked {
    background-color: #ff7f00 !important; /* Orange shade for checked state */
    border: 2px solid #ff7f00 !important; /* Orange border for checked state */
  }

  .card {
    text-align: left !important;
  }

  .form-group {
    margin-top: 12px;
    margin-bottom: 12px;

    label {
      font-size: 14px;
      align-content: center;
      font-weight: 500;
    }
  }

  .card-header_first {
    font-size: 20px;
    font-weight: 500;
  }

  .card-header_second {
    font-size: 14px;
  }

  em {
    font-size: 14px;
  }
