<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-header">
          <h6 class="mb-0 card-header_first">Change Password</h6>
          <label class="card-header_second text-muted">All fields marked with <span class="text-danger">*</span> are required</label>
        </div>
        <div class="card-body tab2-card">
          <form [formGroup]="accountForm" class="needs-validation user-add" novalida>
            <div class="form-group row">
              <label for="validationCustom5" class="col-xl-3 col-md-4"><span class="error">*</span>
                Old Password</label>
              <div class="col-xl-8 col-md-7">
                <div class="input-group">
                  <input class="form-control" formControlName="oldpassword" id="validationCustom5"
                         type="password" placeholder="Old Password" maxlength="20" required [type]="conps ? 'password' : 'text'">
                  <div class="input-group-append rounded-border d-flex align-items-center">
                    <span class="cursor mx-3">
                      <i [class]="conps ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true" (click)="conps = !conps"></i>
                    </span>
                  </div>
                </div>
                <em class="error"
                    *ngIf="accountForm.get('oldpassword')?.errors?.['required'] && (accountForm.get('oldpassword')?.dirty || accountForm.get('oldpassword')?.touched)">Old
                  Password is required</em>
              </div>
            </div>
            <div class="form-group row">
              <label for="validationCustom0" class="col-xl-3 col-md-4"><span class="error">*</span>
                New Password</label>
              <div class="col-xl-8 col-md-7">
                <div class="input-group">
                  <input class="form-control" formControlName="password" id="validationCustom0"
                         type="password" placeholder="New Password" maxlength="20" required [type]="conps1 ? 'password' : 'text'">
                  <div class="input-group-append rounded-border d-flex align-items-center">
                    <span class="mx-3 cursor">
                      <i [class]="conps1 ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true" (click)="conps1 = !conps1"></i>
                    </span>
                  </div>
                </div>

                <em class="error"
                    *ngIf="accountForm.get('password')?.errors?.['required'] && (accountForm.get('password')?.dirty || accountForm.get('password')?.touched)">
                  Password is required</em>
                <div>
                  <em class="error"
                      *ngIf="accountForm.get('password')?.errors?.['minlength']">Minimum 5 characters required</em>
                </div>
                <div>
                  <em class="error"
                      *ngIf="checkOldPassword('password')">Old Password and Password should not be same</em>
                </div>

              </div>
            </div>
            <div class="form-group row">
              <label for="validationCustom1" class="col-xl-3 col-md-4"><span class="error">*</span>
                Confirm Password</label>
              <div class="col-xl-8 col-md-7">
                <div class="input-group">
                  <input class="form-control" formControlName="confirmPassword" id="validationCustom1"
                         type="password" placeholder="Confirm Password" required [type]="conps2 ? 'password' : 'text'">
                  <div class="input-group-append rounded-border d-flex align-items-center">
                    <span class="mx-3 cursor" id="basic-addon31" style="cursor: pointer">
                      <i [class]="conps2 ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true" (click)="conps2 = !conps2"></i>
                    </span>
                  </div>
                </div>
                <em class="error"
                    *ngIf="!accountForm.get('confirmPassword')?.valid && (accountForm.get('confirmPassword')?.dirty || accountForm.get('confirmPassword')?.touched)">
                  Confirm Password is required</em>
                <div>
                  <em class="error"
                      *ngIf="accountForm.get('confirmPassword')?.errors?.['minlength']">Minimum 5 characters required</em>
                </div>
                <div>
                  <em class="error"
                      *ngIf="checkOldPassword('confirmPassword')">Old Password and Confirm Password should not be same</em>
                </div>

                <div *ngIf="checkPasswords()">
                  <em class="error help-block">
                    Enter same password as above
                  </em>
                </div>
              </div>
            </div>
          </form>
          <div class="pull-right mt-2">
            <button type="button" (click)="changePassword()" class="btn btn-orange">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container-fluid Ends-->


<!--<div class="container-fluid rounded-border p-4 bg-white mt-2">-->
<!--    <h6>Nofication push</h6>-->
<!--    <div class="row mx-1">-->
<!--        <div class="form-check col-2 form-check-inline">-->
<!--            <input class="form-check-input" type="radio" id="radio1" name="radioGroup" value="Silent">-->
<!--            <label class="form-check-label" for="Silent">Silent</label>-->
<!--        </div>-->
<!--        <div class="form-check col-2 form-check-inline">-->
<!--            <input class="form-check-input " type="radio" id="radio2" name="radioGroup" value="Active Time">-->
<!--            <label class="form-check-label" for="Ac tiveTimes">Active Time</label>-->
<!--        </div>-->
<!--        <div class="form-check col-2  form-check-inline">-->
<!--            <input class="form-check-input text-warning" type="radio" id="radio3" name="radioGroup" value="Weekly">-->
<!--            <label class="form-check-label" for="Weekly">Weekly</label>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mt-4">-->
<!--        <div class="col-1">-->
<!--            <button class="btn btn-signup rounded-border" (click)="onLogout()">Logout</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
