<!-- wallet template starts here -->
<div class="container rounded-border mt-2 mb-3">
    <div class="payment-card p-3 mt-4">
        <div class="row">
            <div class="col-6">
                <h4>Payment</h4>
                <p>You will be collect after 30 days</p>
            </div>
            <div class="col-6">
                <h2>&#8377; 1,240.0</h2>
            </div>
        </div>
    </div>

    <div class="table-card">
        <table class="table wallet-table">
            <thead>
                <tr>
                    <th>Num Students</th>
                    <th>Payment</th>
                    <th>Received</th>
                    <th>Subjects</th>
                    <th>Payment process</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <!-- <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <table class="table wallet-table">
            <thead>
                <tr>
                    <th>Num Students</th>
                    <th>Payment</th>
                    <th>Received</th>
                    <th>Subjects</th>
                    <th>Payment process</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <!-- <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <table class="table wallet-table">
            <thead>
                <tr>
                    <th>Num Students</th>
                    <th>Payment</th>
                    <th>Received</th>
                    <th>Subjects</th>
                    <th>Payment process</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <!-- <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <table class="table wallet-table">
            <thead>
                <tr>
                    <th>Num Students</th>
                    <th>Payment</th>
                    <th>Received</th>
                    <th>Subjects</th>
                    <th>Payment process</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <!-- <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>&#8377;1240</td>
                    <td>12 Jul 2024</td>
                    <td>English, Maths, Science</td>
                    <td>Completed</td>
                    <td>
                        <div class="btn-download"><i class="fas fa-download"></i></div>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example" class="mx-3">
        <ul class="pagination justify-content-end">
            <li class="page-item mx-2"><a class="page-link mx-font-19" href="#"></a></li>
            <li class="page-item"><a class="page-link mx-font-19" href="#">></a></li>

        </ul>
    </nav>
</div>