<div class="container-fluid row signup-container">
    <div class="col-6 signup-image ">
        <img class="mt-2 p-1" height="100%" src='app/assets/etutor/login_background.svg' alt="Learning Image">
    </div>
    <div class="col-6 signup-form  align-content-center mt-1">
        <p class="text-center"><strong>Login</strong></p>
        <p class="text-center">Forgot your password?</p>
        <form>
            <div class="form-group">
                <label class="p-1" for="mobileNumber">Email Id or Mobile Number</label>
                <input type="text" class="form-control rounded-border" id="mobileNumber"
                    placeholder="Enter Mobile Number">
            </div>
            <button type="submit" class="btn w-100 mt-4 rounded-border btn-login btn-block">Verify</button>
        </form>
    </div>
</div>